@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./animations.scss");

@layer base {
  html {
    font-family: "Helvetica", system-ui, sans-serif;
  }

  body {
    --tw-bg-opacity: 1;

    div::-webkit-scrollbar {
      width: 8px; /* width of the entire scrollbar */
    }

    div::-webkit-scrollbar-track {
      background: #000408;
    }

    div::-webkit-scrollbar-thumb {
      background-color: #232524;
      border-radius: 20px;
    }
  }
}
